.king {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 50px;

  button {
    padding: 15px 45px;
    background-color: #131316;
    border-radius: 20px;
    border: 0;
    font-size: 1.1em;
    cursor: pointer;

    
  }
}
