@use "../../../../assets/styles/index.scss";

.king {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 50%;

  @media screen and (max-width: 1165px) {
    font-size: 10px;
  }

  @media screen and (max-width: 820px) {
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
  }

  @media screen and (max-width: 650px) {
    padding: 0px 20px;
    font-size: 8px;
  }

  .myName,
  .feDeveloper,
  .description {
    width: 50%;

    @media screen and (max-width: 820px) {
      width: 100%;
    }
  }

  .myName {
    font-size: 5em;
  }

  .feDeveloper {
    font-size: 4em;
    color: index.$gold;
  }

  .description {
    font-size: 1.5em;
    line-height: 1.8;
    color: #888888;

    @media screen and (max-width: 650px) {
      font-size: 1.8em;
    }
  }
}
