@use "../../../../assets/styles/index.scss";

.king {
  width: 35%;
  background-color: index.$second_main_dark_color;
  padding: 30px;
  box-shadow: 0 0 15px 1px rgb(0, 0, 0);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;

  @media screen and (max-width: 1165px) {
    font-size: 0.9em;
  }

  @media screen and (max-width: 820px) {
    width: 45%;
  }

  @media screen and (max-width: 820px) {
    width: 90%;
  }

  .header {
    color: index.$gold;
    font-size: 2.5em;
    font-weight: 900;

    @media screen and (max-width: 1165px) {
      font-size: 2em;
    }
  }

  .info {
    margin: 50px 0px;
    font-size: 1.2em;
    width: 100%;

    .institute,
    .date {
      span {
        color: #888888;
      }
    }

    .institute {
      margin-bottom: 20px;
    }
  }

  .buttonContainer {
    button {
      border: 1px solid index.$gold;
      padding: 15px 50px;
      border-radius: 10px;
      color: index.$text_light_color;
      font-size: 1em;
      cursor: pointer;
      background-color: #907d3e18;
      transition: 0.15s ease-in-out;

      &:hover {
        background-color: index.$gold;
      }
    }
  }
}
